.ws-banner
  .ws-banner__wrapper
    .ws-banner__block
      a(href="#{whitesmith.site}", target='_blank')
        img(src='https://www.whitesmith.co/assets/logos/ws.svg', alt='ws-logo')
    .ws-banner__block
      small Made with loops and love.
      ul.ws-banner__list
        li
          a.wsi-github(href="#{whitesmith.github}", target='_blank')
            include ../icons/_github.svg.jade
        li
          a.wsi-twitter(href="#{whitesmith.twitter}", target='_blank')
            include ../icons/_twitter.svg.jade
        li
          a.wsi-facebook(href="#{whitesmith.facebook}", target='_blank')
            include ../icons/_facebook.svg.jade
        li
          a.wsi-instagram(href="#{whitesmith.instagram}", target='_blank')
            include ../icons/_instagram.svg.jade
